## Lists

Create a list, called "Numbers". Let it contain the numbers 10, 25, 40, and 50.

In [1]:
Numbers = [10, 25, 40, 50]

Print the second element from the list.

In [2]:
Numbers[1]

25

Print the 0th element.

In [3]:
Numbers[0]

10

Print the third-to-last element using a minus sign in the brackets.

In [4]:
Numbers[-3]

25

Substitute the number 10 with the number 15.

In [5]:
Numbers[0] = 15
Numbers

[15, 25, 40, 50]

Delete the number 25 from the Numbers list.

In [6]:
del Numbers[1]
Numbers

[15, 40, 50]